.hero {
    background: url('../../assets/images/Black_background2.jpg') no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    height: 550px;
    padding: 2rem 0 12.5rem;
    transition: all 0.5s ease-in-out;
}



// .hero__description,
// .hero-desc.v2 {
//     color: #fff;
//     font-size: 1rem;
//     margin-bottom: 0.9375rem;
// }

// .hero__title,
// .hero-title.v2 {
//     color: #fff;
//     font-size: 3.5rem;
//     line-height: 1.5;
//     font-weight: 600;
//     margin-bottom: 10px;
//     margin-left: -4px;
// }

// .hero__title.events-tab {
//     display: none;
// }






/*==================================
        Header Text
====================================*/
.header-text.v2 {
    text-align: center
}

.header-text.v2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}



.header-text.v2 h1 {
    font-size: 48px;
    color: rgb(209, 206, 206);
    line-height: 4;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
}